body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
button {
    background-color: gray;
    color: black;
}
/* class : all the elements with the same class name will receive this styling */
#main-header {
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#paraIntro {
    color: white;
    font-size: 1.25rem;
}
#skills {
    color: orange;
    font-size: 1.25rem;
}
#paraOutro {
    color: white;
    font-size: 1.25rem;
    }
.NavBar {
    display: flex;
}
.headName {
    color:brown;
    font-size: 4rem;
}
.Name {
    color: white;
    font-size: 4rem;
}
.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
    background-color: black;
  }
  
  .icon-bar a:hover {
    background-color: green; /* Add a hover color */
  }
  
  .active {
    background-color: limegreen; /* Add an active/current color */
  }
  body {
   color: white;
    /* The image used */
    background-image: url("Website.jpg");
    
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.social-bar {
    position:fixed;
    top: 99%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .social-bar a {
    text-align: center;
    padding: 6px;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
  }
  /* Style the social media icons with color, if you want */
.social-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }